<% include partials/header.ejs %>

    <div class="container">

      <div class="starter-template">
        <h1>Contact Us</h1>
        <form>
	Name: <input type="text" name="name" required /> <br/>
	Email: <input type="email" name="email" required /> <br/>
	<textarea rows="4" cols="50"></textarea> <br/>
	<input type="submit"/>
	
	</form>
      </div>

    </div><!-- /.container -->
<% include partials/footer.ejs %>
