<% include partials/header.ejs %>

    <div class="container">

      <div class="starter-template">
        <h1>Contact Us</h1>
        <form>
	<label for="name" text="Name: "/>		
	<input name="name" type="text"/>
	</form>
      </div>

    </div><!-- /.container -->
<% include partials/footer.ejs %>
