<% include partials/header.ejs %>
    <div class="container">

      <div class="jumbotron">
        <h2>Home</h2>
        <p class="lead"><br> Welcome to my Portfolio!</p>
	<p>While you're here, check out my code on <a href="http://github.com/jcdj1996">Github</a> </p>
      </div>


<% include partials/footer.ejs %>
