<% include partials/header.ejs %>
    <div class="container">

      <div class="jumbotron">
        <h2>Services</h2>
        <p>I have experience working with Magento E-Commerce, Microsoft Azure and Github. As a component of my Co-op placement at Computer Elite, I was in charge of maintaining websites for small and medium sized businesses as well as administrating emaial and other IT services.</p>
      </div>

    </div><!-- /.container -->

<% include partials/footer.ejs %>
